form[name="horaires"] {
  margin-top: 1.5rem;
  row-gap: 4vh;
  label {
    font-size: 1.4rem;
  }
  input[type="time"], select, option {
    background: none;
    border: none;
  }
  option {
    background: #0C4A63;
  }
  div:nth-child(n+2):nth-child(-n+4) label {
    margin-right: 1rem;
  }
}