section {
    height: 100vh;
    width: 100vw;
    @include bg-img-cover-no-repeat;
    @include d-flex-col-center;
    row-gap: 16px;
    &::after {
        @include opacity(rgba(127,76,39,0.43));
    }
    h2, p, button {
        @include middleUp;
        color: $white;
        text-align: center;
    }
    h2 {
        width: 100vw;
        padding: 8px 0px;
        font-size: 24px;
        max-width: 500px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        font-family: $mainTitle;
        font-weight: 500;
        font-size: 20px;
        &.savane {
            background-color: $terre;
        }
        &.marais {
            background-color: $marais;
        }
        &.jungle {
            background-color: $greenLow;
        }
    }
    p {
        font-family: $thirdFont;
        font-weight: bold;
        font-size: 16px;
        line-height: 280%;
        letter-spacing: 1.2px;
        max-width: 500px;
    }
    button {
        @include d-flex-col-center;
        font-family: $secondFont;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 8px 16px;
        border: none;
        border-radius: 117px;
        &.marais {
          background-color: $marais;
        }
        &.jungle {
          background-color: $greenLow;
        }
        &.savane {
          background-color: $terre;
        }
    }
}

@media screen and (min-width: 1244px) {
    section {
        row-gap: 48px;
    }
    section > * {
        scale: 1.2;
    }
}