.main__title {
  color: white;
  font-family: $mainTitle;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  .main__title {
    font-size: 3rem;
  }
}