nav {
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 600px) {
  nav {
    padding-top: 1.2rem;
    img {
      width: 5rem;
      height: 5rem;
    }
  } 
}
@media screen and (min-width: 1000px) {
  nav {
    padding-left: 4%;
    padding-right: 4%;
  }
}