.secondItem > ul, .fourthItem ul {
  display: none;
}
form[name="services"], form[name="habitats"] {
  margin-top: 1.5rem;
  .btn-services {
    width: max-content;
    align-self: center;
    margin-top: 0.5rem;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  input:not(.btn-services) {
    background: none;
    border: 1px solid #ffffff52;
  }
  & > div {
    display: flex;
    justify-content: space-between;
  }
  & > div label {
    margin-right: 1rem;
  }
}

.secondItem > ul, .fourthItem ul  {
  margin-top: 1rem;
}
.cross-container {
  display: inline-block; 
  align-items: center; 
  gap: 5px;
  span {
    color: red; 
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 450px) {
  .menu {
    scale: 1.1;
  }
}