{% set iconMenu = 'zoo-arcadia-green_menu' %}
{% set pageName = 'habitatsPage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Habitats{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/habitats.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
  {# HEADER #}
    {% block header %}
        {% include "components/headerConnect.html.twig" %}
    {% endblock %}

  <main id="main">
    {% block habitats %}
        {% include "components/habitats.html.twig" %}
    {% endblock %}
  </main>
  <script src="{{ asset('assets/scripts/habitats.js' )}}"></script>
{% endblock %}