@mixin d-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin bg-img-cover-no-repeat($img-url) {
  background: url(#{$img-url});
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin fullScreen {
  height: 100vh;
  width: 100vw;
}