@mixin d-flex-col-center($direction: column) {
  display: flex;
  @if $direction == row {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
  justify-content: center;
  align-items: center;
}
@mixin bg-img-cover-no-repeat($img-url: null) {
  @if $img-url != null {
    background: url(#{$img-url});
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin bg-footer-links($color) {
  background-color: #{$color};
}
@mixin fullScreen {
  height: 100vh;
  width: 100vw;
}
@mixin fullContainer {
  height: 100%;
  width: 100%;
}
@mixin opacity($opacity) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #{$opacity};
  z-index: 1;
}

@mixin lowUp {
  position: relative;
  z-index: 1;
}

@mixin middleUp {
  position: relative;
  z-index: 5;
}

@mixin maxUp {
  position: relative;
  z-index: 10;
}

@mixin heightAndWidth($size) {
  width: #{$size};
  height: #{$size};
}

@mixin resetPositionAndTransform {
  position: static;
  top: auto;
  left: auto;
  transform: none;
}