*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}
body, main {
  position: relative;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
