{% block fifthSection %}
  <section id="fifthSection">
  <h2>Nos habitats</h2>
    <div class="container">
      <div>
        <h3>Restaurant</h3>
        <p>Pause gourmande entre deux habitats</p>
        <img src="{{asset('assets/images/couverts.png')}}"/>
      </div>
      <div>
        <h3>Visite en petit train</h3>
        <p>Moment de détente</p>
        <img src="{{asset('assets/images/train.png')}}"/>
      </div>
      <div>
         <h3>Visite guidée (gratuit)</h3>
        <p>Visite des habitats</p>
        <img src="{{asset('assets/images/carte.png')}}"/>
      </div>
    </div>
  </section>
{% endblock %}