{% block firstSection %}
    <section id="firstSection">
        <img src="{{ asset('assets/images/zoo-arcadia-home.webp') }}" />

        <div>
            <button><a href="#containerSections">Découvrir</a></button>
        </div>
    </section>
{% endblock %}