{% block fourthSection %}
<section id="fourthSection">
  <h2>Nos habitats</h2>
  <div class="fourthSection__container">
    <img src="{{asset('assets/images/foret.jpg')}}" />
  </div>
  <button>
    <a>Découvrez tous nos habitats</a>
  </button>
  <h2>Nos services</h2>
</section>
{% endblock %}