{% block fourthSection %}
<section id="fourthSection">
  <h2>Nos habitats</h2>
  <img src="{{asset('assets/images/foret.webp')}}" />
  <button>
    <a href="{{ path('app_habitats') }}" class="linkBtn">Découvrez tous nos habitats</a>
  </button>
  <h2>Nos services</h2>
</section>
{% endblock %}