{% block fourthSection %}
<section id="fourthSection">
  <h2>Nos habitats</h2>
  <div class="fourthSection__container">
    <img src="{{asset('assets/images/foret.webp')}}" />
  </div>
  <button>
    <a class="linkBtn">Découvrez tous nos habitats</a>
  </button>
  <h2>Nos services</h2>
</section>

<section class="computer">
  <h2>Nos habitats</h2>
  <section>
  <div class="fourthSection__container">
    <img src="{{asset('assets/images/foret.webp')}}" />
  </div>
  <button id="btnComputer">
    <a id="linkComputer">Découvrez tous nos habitats</a>
  </button>
  </section>
</section>
{% endblock %}