{% block secondSection %}
<section id="secondSection">
  <h2>Présentation</h2>
  <img src="{{ asset('assets/images/zoo-arcadia-elephant-xl.webp' )}}"/>
  <p>Arcadia est un parc animalier créé en 1960 et situé en Bretagne, précisément près de la forêt de Brocéliande en france.</p>
  {# <img src="{{ asset('assets/images/zoo-arcadia_oiseaux.webp' )}}"/> #}
</section>
{% endblock %}