# Ignore .env.local et autres fichiers de configuration locaux
.env.local
.env.*.local

# Ignore les fichiers de configuration de l'IDE
/.idea/
/.vscode/

# Ignore les répertoires de build et de cache
/var/
/vendor/

/public/build/

# Ignore les fichiers de log
/var/logs/*
/var/log/

# Ignore les fichiers générés par Symfony
/public/uploads/

# Ignore le répertoire node_modules si tu utilises npm ou yarn pour le frontend
/node_modules/

# Ignore les fichiers système (MacOS, Windows)
.DS_Store
Thumbs.db

# Fichiers temporaires et de sauvegarde
*.swp
*.swo
*.bak
*.tmp

# Fichiers créés par l'éditeur de texte (ex : vim, emacs)
*~
