#secondSection, #thirdSection {
  @include fullScreen;
  background: $terre;
  color: $white;
  font-family: $secondFont;
  border-bottom: 1px solid $white;
  @include d-flex-col-center;
  h2, img, p {
    margin: 0 auto;
    font-weight: normal;
    letter-spacing: 4px;
    max-width: 350px;
  }
  h2 {
    font-size: 1.5rem;
    width: fit-content;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }
  img {
    width: 75%;
    display: block;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 2.2rem;
    width: 75%;
    text-align: center;
  }
}
#secondSection {
  position: relative;
}
#secondSection img:last-child {
  display: none;
}
#thirdSection {
  background: $green;
}

@media screen and (min-width: 1000px) {
  #secondSection, #thirdSection {
    height: 50vh;
    @include d-flex-col-center;
    h2 {
      font-size: 2rem;
    }
    img {
      display: none;
    }
    p {
      width: 70%;
      max-width: none;
      font-size: 1.5rem;
    }
  }
  #secondSection h2, #secondSection p, #thirdSection h2, #thirdSection p {
    max-width: 700px;
    margin: none;
  }
  #secondSection img:last-child {
    display: block;
    width: 100vw;
    margin: 0;
    max-width: none;
    position: absolute;
    z-index: 999;
    top: 35%;
  }
}
@media screen and (min-height: 700px) {
  #secondSection, #thirdSection {
    @include d-flex-col-center;
  }
}

@media screen and (min-width: 750px) and (min-height: 650px) {
  #secondSection, #thirdSection {
    row-gap: 2vh;
    h2 {
      font-size: 2rem;
      margin-bottom: none;
    }
    img, p {
      max-width: 400px;
      margin-bottom: none;
    }
    p {
      font-size: 1.7rem;
    }
  } 
}

@media screen and (min-width: 674px) and (min-height: 750px) {
  #secondSection, #thirdSection {
    row-gap: 2vh;
    h2 {
      font-size: 2.5rem;
      margin-bottom: none;
    }
    img, p {
      max-width: 450px;
      margin-bottom: none;
    }
    p {
      font-size: 1.9rem;
      line-height: 150%;
    }
  } 
}

@media screen and (min-width: 890px) and (min-height: 850px) {
  #secondSection, #thirdSection {
    row-gap: 3vh;
    h2 {
      font-size: 2.75rem;
      margin-bottom: none;
    }
    img, p {
      max-width: 475px;
      margin-bottom: none;
    }
    p {
      font-size: 1.9rem;
      line-height: 175%;
    }
  } 
}

@media screen and (min-width: 1000px) and (min-height: 568px) {
  #secondSection, #thirdSection {
    row-gap: 4vh;
    h2 {
      padding-top: 0;
      margin-bottom: 0;
      transform: inherit;
    }
    img:last-child {
      max-width: 1000px;
    }
    p {
      line-height: 175%;
    }
  }
}

@media screen and (min-width: 1000px) and (min-height: 650px) {
  #secondSection, #thirdSection {
    p {
      max-width: 700px;
    }
  }
}

@media screen and (min-width: 1000px) and (min-height: 700px) {
  #secondSection, #thirdSection {
    img:last-child {
      top: 50%;
    }
  }
}