#secondSection, #thirdSection {
  height: 100vh;
  width: 100vw;
  background: #7F4C27;
  color: white;
  font-family: $secondFont;
  border-bottom: 1px solid white;
  h2, img, p {
    margin: 0 auto;
    font-weight: normal;
    letter-spacing: 4px;
    max-width: 350px;
  }
  h2 {
    font-size: 1.5rem;
    width: fit-content;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }
  img {
    width: 75%;
    display: block;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 2.5rem;
    width: 75%;
    text-align: center;
  }
}
#secondSection {
  position: relative;
}
#secondSection img:last-child {
  display: none;
}
#thirdSection {
  background: $green;
}

@media screen and (min-width: 1000px) {
  #secondSection, #thirdSection {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
    }
    img {
      display: none;
    }
    p {
      width: 70%;
      max-width: none;
      font-size: 1.5rem;
    }
  }
  #secondSection h2, #secondSection p, #thirdSection h2, #thirdSection p {
    max-width: 700px;
    margin: none;
  }
  #secondSection img:last-child {
    display: block;
    width: 100vw;
    margin: 0;
    max-width: none;
    position: absolute;
    z-index: 999;
    top: 35%;
  }
}
@media screen and (min-width: 1550px) {
  #secondSection img:last-child {
    top: 10%;
  }
}
@media screen and (min-height: 700px) {
  #secondSection, #thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}