{% set iconMenu = 'menu_green' %}
{% set pageName = 'homePage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Accueil{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/css/stylesTest.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

  {# HEADER #}
  {% include 'components/headerTest.html.twig' %}

  <main id="main__{{ pageName }}">
    {% include 'components/homePage/secondSection.html.twig' %}
    {% include 'components/homePage/thirdSection.html.twig' %}
    {% include 'components/homePage/fourthSection.html.twig' %}
    {% include 'components/homePage/fifthSection.html.twig' %}
    {% include 'components/homePage/sixthSection.html.twig' %}
  </main>
  
{% endblock %}