{% extends "base.html.twig" %}
{% block title %}Arcadia | Accueil{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

  {# HEADER #}
  {% include 'components/header.html.twig' %}

  <main>
    {% include 'components/homePage/secondSection.html.twig' %}
    {% include 'components/homePage/thirdSection.html.twig' %}
    {% include 'components/homePage/fourthSection.html.twig' %}
  </main>
{% endblock %}