@import "../atoms/_navHeader";
@import "../atoms/_title1";
@import "../atoms/_iconMenu";
@import "../atoms/_listPageMenu";

header {
    width: 100vw;
    height: 45px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
   
}

@media screen and (min-width: 744px) {
    header {
        height: 60px;
    }
}

@media screen and (min-width: 1280px) {
    header {
        &.fill {
            position: relative;
            border-bottom: 4px solid $white;
            background: $darkGreen;
        }
        &.bg--green {
            background-color: $darkGreen;
        }
        &.bg--brown {
            background-color: $terre;
        }
    }
}