@import "../components/_nav";
@import "../components/_logo";
@import "../components/_btn";
#homepage {
  height: 100vh;
  width: 100vw;
  >img {
    height: 100vh;
    overflow: hidden;
    width: -webkit-fill-available;
    position: relative;
  }
  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    div {
      width: 100vw;
      height: 80px;
      background: $green;
      position: relative;
      top: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 600px) {
  #homepage {
    img {
      object-fit: cover;
    }
    section div {
      top: 62%
    }
  }
}
@media screen and (min-width: 1000px) {
  #homepage img:first-child {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 150vh;
    transform: rotate(20deg);
    right: -10%;
    top: -20%;
    overflow: hidden;
    box-shadow: -39px 4px 45.1px -13px white;
  }
  .header__elephant {
    height: 100vh;
    overflow: hidden;
    width: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: -5%;
    width: 80%;
  }
  #homepage section {
    position: absolute;
    z-index: 999;
  }
}