#main {
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
    background: rgb(0, 128, 0, 0.2);
    ul {
      @include d-flex-col-center;
      row-gap: 16px;
      li {
        background-color: $grey;
        width: 100%;
        h2 {
          color: $terre;
          font-family: $mainTitle;
          font-weight: bold;
          font-size: 24px;
          display: flex;
          align-items: center;
          
          &.listClose::before {
            content: '▶';
            margin-left: 16px;
            margin-right: 16px;
          }
          &::before {
            content: '▼';
            margin-left: 16px;
            margin-right: 16px;
          }
        }
      }
    }
  }
  #main {
    .hidden {
      display: none;
    }
    .taskSelected, .taskSelectedContainer {
      height: 100%;
    }
    .taskSelected {
      overflow-y: scroll;
      h2 {
        &::before {
          content: '▼';      
        }
      }
    }
}

@media screen and (min-width: 744px) {
    #main {
        @include resetPositionAndTransform;
        height: 100%;
        width: 75%;
        overflow-y: scroll;
        > ul {
          height: 100%;
          justify-content: start;
        }
        ul li h2 {
          display: none;
        }
        .hidden {
          display: block;
        }
    }
}