{% set iconMenu = 'zoo-arcadia-brown_menu' %}
{% set pageName = 'loginPage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Administrateur{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/admin.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

  {# HEADER #}
    <header id="header">
        <h1>Arcadia</h1>
    </header>

  <main id="main">
    <ul class="menu">
      <li>{% include "components/adminList/firstItem.html.twig" %}</li>
      <li>{% include "components/adminList/secondItem.html.twig" %}</li>
      <li>{% include "components/adminList/thirdItem.html.twig" %}</li>
      <li>{% include "components/adminList/fourthItem.html.twig" %}</li>
      <li>{% include "components/adminList/fifthItem.html.twig" %}</li>
    <ul>
  </main>

{# SCRIPTS JS #}
{% block scripts %}
  <script src="{{ asset('assets/scripts/admin2.js' )}}" defer></script>
{% endblock %}
{% endblock %}