*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body, main {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 999px) {
  header nav ul {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  nav {
    padding-top: 1.2rem;
  }
  nav img {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 1000px) {
  nav {
    background: linear-gradient(to right, rgba(44, 138, 0, 0.47), rgba(217, 130, 0, 0.62));
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0%;
  }
  nav .img__display {
    display: none;
  }
  nav ul {
    display: inherit;
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
  }
  nav ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  .nav__div {
    display: none;
  }
}
.main__title {
  color: white;
  font-family: IBM Plex Serif, serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .main__title {
    font-size: 3rem;
  }
}
header button {
  width: 216px;
  height: 52px;
  background: none;
  border: 1px solid white;
}
header button a {
  color: white;
  font-family: IBM Plex Serif, serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.btn__computer {
  display: none;
}

@media screen and (min-width: 1000px) {
  .btn__computer {
    display: block;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(77, 28, 0, 0.97);
    border: 4px solid #5E3800;
    box-shadow: 9px 1px 44.2px 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn__computer #btn__link--computer {
    font-family: Homenaje, sans-serif;
    letter-spacing: 5px;
    font-weight: normal;
  }
}
header {
  height: 100vh;
  width: 100vw;
}
header > img {
  height: 100vh;
  overflow: hidden;
  width: -webkit-fill-available;
  position: relative;
}
header section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
header section div {
  width: 100vw;
  height: 80px;
  background: #092D00;
  position: relative;
  top: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  header img {
    object-fit: cover;
  }
  header section div {
    top: 62%;
  }
}
@media screen and (min-width: 1000px) {
  header img:first-child {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 150vh;
    transform: rotate(20deg);
    right: -10%;
    top: -20%;
    overflow: hidden;
    box-shadow: -39px 4px 45.1px -13px white;
  }
  .header__elephant {
    height: 100vh;
    overflow: hidden;
    width: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: -5%;
    width: 80%;
  }
  header section {
    position: absolute;
    z-index: 999;
  }
}
#secondSection, #thirdSection {
  height: 100vh;
  width: 100vw;
  background: #7F4C27;
  color: white;
  font-family: Homenaje, sans-serif;
  border-bottom: 1px solid white;
}
#secondSection h2, #secondSection img, #secondSection p, #thirdSection h2, #thirdSection img, #thirdSection p {
  margin: 0 auto;
  font-weight: normal;
  letter-spacing: 4px;
  max-width: 350px;
}
#secondSection h2, #thirdSection h2 {
  font-size: 1.5rem;
  width: fit-content;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}
#secondSection img, #thirdSection img {
  width: 75%;
  display: block;
  margin-bottom: 2rem;
}
#secondSection p, #thirdSection p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  width: 75%;
  text-align: center;
}

#secondSection {
  position: relative;
}

#secondSection img:last-child {
  display: none;
}

#thirdSection {
  background: #092D00;
}

@media screen and (min-width: 1000px) {
  #secondSection, #thirdSection {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #secondSection h2, #thirdSection h2 {
    font-size: 2rem;
  }
  #secondSection img, #thirdSection img {
    display: none;
  }
  #secondSection p, #thirdSection p {
    width: 70%;
    max-width: none;
    font-size: 1.5rem;
  }
  #secondSection h2, #secondSection p, #thirdSection h2, #thirdSection p {
    max-width: 700px;
    margin: none;
  }
  #secondSection img:last-child {
    display: block;
    width: 100vw;
    margin: 0;
    max-width: none;
    position: absolute;
    z-index: 999;
    top: 35%;
  }
}
@media screen and (min-width: 1550px) {
  #secondSection img:last-child {
    top: 10%;
  }
}
@media screen and (min-height: 700px) {
  #secondSection, #thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */