{% set iconMenu = 'zoo-arcadia-green_menu.webp' %}


{% extends "base.html.twig" %}
{% block title %}Arcadia | Accueil{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/home.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
  {# HEADER #}
    {% block header %}
        {% include "components/headerConnect.html.twig" %}
    {% endblock %}

  {# MAIN #}
  <main id="main">
    {% include 'components/homePage/firstSection.html.twig' %}
    <div id="containerSections">
      {% include 'components/homePage/secondSection.html.twig' %}
      {% include 'components/homePage/thirdSection.html.twig' %}
    </div>
    {% include 'components/homePage/fourthSection.html.twig' %}
    {% include 'components/homePage/fifthSection.html.twig' %}
    {% include 'components/homePage/sixthSection.html.twig' %}
  </main>

  {# FOOTER #}
  {% block footerReviews %}
    {% include "components/footerReviews.html.twig" %}
  {% endblock %}

  {# SCRIPTS JS #}
  <script src="{{ asset('assets/scripts/menuBurger.js' )}}"></script>

{# END BODY #}
{% endblock %}