@import "../../atoms/_title2Form";
#secondSection, #thirdSection {
    @include fullScreen;
    @include d-flex-col-center;
    row-gap: 5%;
    background: $terre;
    h2, img, p {
        margin: 0 auto;
        font-weight: normal;
        letter-spacing: 4px;
    }
    img {
        width: 75%;
        max-width: 350px;
    }
    p {
        font-family: $thirdFont;
        line-height: 2.5rem;
        font-size: 2.50vh;
        max-width: 400px;
    }
}

#thirdSection {
    background: $green;
}

@media screen and (min-width: 744px) {
    #secondSection {
        border-right: 2px solid #ffffff;
    }
    #secondSection, #thirdSection {
        height: 100vh;
        width: 50vw;
        float: left;
        img {
            max-width: 450px;
            max-height: 280px;
        }
    }
}