{% set iconMenu = 'zoo-arcadia-blue_menu' %}
{% set pageName = 'reviews' %}
{% extends "base.html.twig" %}
{% block title %}Arcadia | Avis{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/reviews.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}
  <header id="header">
    {% include "components/nav.html.twig" %}
  </header>

  <main id="main">
    {% block formReviews %}
      {% include "components/formReviews.html.twig" %}
    {% endblock %}
  </main>
{% endblock %}
{# END BODY #}

{# SCRIPTS JS #}
{% block scripts %}
  <script src="{{ asset('assets/scripts/reviews.js' )}}" defer></script>
{% endblock %}