body {
  position: relative;
  overflow:hidden;
}
img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Remplit l'écran tout en gardant les proportions */
  object-position: 35% center; /* Centre l'image dans l'écran */
  position: absolute;
  top: 0;
  left: 0;
}
form {
  position: absolute;
  left: 0;
  top: 0;
}
form div:not([class=container_stars]) {
  display: flex;
  flex-direction: column;
}
.container_stars input {
  display: none;
}