@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";
* {
  text-align: center;
  color: $white;
}
form {
  display: none;
}
// ul li:not(li:nth-child(1)) {
//   display: none;
// }
body {
  @include fullScreen;
  @include bg-img-cover-no-repeat("../../images/zoo-arcadia-dauphin-2.webp");
  background-position-x: 40%;
}
body::before {
  @include opacity("rgba(0, 35, 46, 0.66)");
}
header {
  position: fixed;
  z-index: 15;
  width: 100vw;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.5rem;
  }
}

h1, h2 {
  font-family: $mainTitle;
}
main, ul {
  @include d-flex-col-center;
}
main {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  ul {
    row-gap: 2vh;
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
  } 
}
form {
  flex-direction: column;
  row-gap: 2vh;
  input[type="email"] {
    padding: 0.25rem 0rem;
    color: #1A7996;
  }
  input[type="email"]::placeholder {
    color: #1A7996;
  }
  input[type="radio"]::selection {
    font-style: italic;
  }
}
.firstItem {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
@media screen and (min-width: 500px) {
  .firstItem {
    scale: 1.2;
  }
}
.containerForm {
  display: flex;
  margin-bottom: 1.5rem;
  .radio-wrapper {
    text-align: left;
  }
  & > div:first-child{
    margin-right: 0.25rem;
  }
  & > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
  }
}
.btn-submit {
  font-family: $secondFont;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 0.5rem 1.2rem;
  letter-spacing: 2px;
  background: #1A7996;
  box-shadow: 5px 6px 12.3px 0px white;
  border: none;
  border-left: 5px solid white;
}
@media screen and (min-width: 600px) {
  ul {
    scale: 1.2;
  }
}

