@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";
@import "../layouts/_mainConnect";
@import "../components/_footerSocialNetworks";

#emailError, #passwordError, #errorMsg {
    color: $red;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 10px;
      padding: 2px;
      background: $white;
  }

@media screen and (min-width: 1280px) {
    header {
        background: $terre;
    }
    main {
        overflow: hidden;
    }
    h2 {
        color: $terre;
    }
}

#header::before, #main::before {
    @include opacity("#0c01017a");
}