@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";
@import "../layouts/_bodyFullViewport";
@import "../layouts/_headerFillComputer";
@import "../components/_formLogin";
@import "../layouts/_footerSocialNetworks";
.div {
  display: none;
}
#main {
  @include bg-img-cover-no-repeat("../../images/zoo-arcadia-elephant.webp");
  background-position: center;
  height: calc(100% - 34px);
  width: 100vw;
  @include d-flex-col-center;
  section:first-child {
    height: 100%;
    width: 100vw;
    background: rgba(127, 76, 39, 0.21);
    @include d-flex-col-center;
  }
}
@media screen and (min-width: 1000px) {
  #main__loginPage {
    overflow: hidden;
    background-image: none;
    height: calc(100% - 89px);
    section:first-child {
      display: none;
    }
    .div {
      height: 100%;
      display: inline-block;
      width: 50%;
    }
    #left {
      width: 100%;
      color: $terre;
      background: rgba(127, 76, 39, 0.21);
      position: relative;
      
    }
    #right {
      @include bg-img-cover-no-repeat("../../images/zoo-arcadia-elephant.webp");
      background-position-y: -50px;
      background-position-x: center;
      width: 55%;
      position: absolute;
      transform: rotateZ(14deg);
      height: 150vh;
      transform-origin: center;
      right: -5%;
      top: -20%;
    }
  }
}
@media screen and (min-width: 1100px) {
  #main__loginPage {
    max-width: 1336px;
    margin: 0 auto;
  }
}