@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";
@import "../layouts/_mainConnect";
@import "../components/_footerSocialNetworks";

form, section {
    display: none;
}

@media screen and (min-width: 1280px) {
    header {
        position: relative;
        border-bottom: 4px solid $white;
        background: $terre;
    }
}