@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";
@import "../layouts/_mainConnect";
@import "../components/_footerSocialNetworks";

#emailError, #passwordError, #errorMsg, #titleError, #descriptionError, #messageError {
    color: $red;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 10px;
      padding: 2px;
      background: $white;
  }
form {
    width: 95%;
    row-gap: 2vh;
    scale: 0.8;
    .container-data label {
        color: $white;
    }
}
form button {
    background-color: $greenLow;
}
footer {
    background-color: $greenLow;
}
@media screen and (min-width: 744px) {
    main {
        form {
            scale: 0.9;
        }
    }
}