@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../components/_nav";
@import "../components/_logo";

#header__contactPage {
  position: absolute;
  z-index: 5;
  width: 100%;
}
#contact__secondSection {
  padding: 1rem;
  max-width: 400px;
  margin: 0 auto;
}
.div {
  display: none;
}
#main__contactPage section:first-child {
  background-image: url("../../images/zoo-arcadia-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    color: white;
    font-family: $mainTitle;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    transform: translateY(20px);
    width: 70%;
    max-width: 400px;
    h2 {
      font-size: 1.3rem;
    }
    label {
      align-self: flex-start;
      font-size: 20px;
    }
    input, textarea {
      width: 100%;
      border-radius: 5px;
      height: 42px;
      background-color: #D9D9D9;
      border: none;
      text-align: center;
      letter-spacing: 1px;
    }
    button {
      font-family: $secondFont;
      font-size: 24px;
      letter-spacing: 5px;
      background-color: #525C2A;
      padding: 8px;
      border: none;
      width: 148px;
      height: 52px;
      color: white;
      border-radius: 20px;
    }
  }
}
#input__computer {
  display: none;
}
#main__contactPage section:last-child {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  p {
    font-family: $secondFont;
    font-size: 1.1rem;
    font-weight: light;
    height: 80%;
    line-height: 150%;
    transform: translateX(20px);
    input {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }
}
#body__contactPage footer {
  height: 30px;
  background: #525C2A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
  }
}

@media screen and (min-width: 700px) {
  #main__contactPage section:first-child form {
    transform: translateY(10px);
    h2 {
      font-size: 1.7rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  #body__contactPage {
    height: 100vh;
  }
  #header__contactPage {
    position: relative;
    nav {
      background: #243123;
      border-bottom: 4px solid white;
    }
  }
  #main__contactPage {
    height: calc(100% - 116px);
    display: flex;
    overflow: hidden;
    position: relative;
  }
  #main__contactPage section:first-child, #main__contactPage section:last-child, #contact__secondSection {
    display: none;
  }
  #input__mobil {
    display: none;
  }
  #body__contactPage footer {
    border-top: 4px solid white;
    height: 58px;
  }
  .div {
    height: 100%;
    display: inline-block;
  }
  #left {
    width: 70%;
    color: white;
    form {
      background: rgba(36, 49, 35, 0.8);
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
      row-gap: 0.3rem;
      height: 100%;
      h2 {
        font-size: 1.6rem;
        padding-left: 50px;
      }
      label {
        font-size: 18px;
      }
      input, textarea {
        width: 50%;
        border-radius: 5px;
        height: 40px;
        background-color: #D9D9D9;
        border: none;
        text-align: center;
        letter-spacing: 1px;
      }
      #input__computer2 {
        font-size: 0.8rem;
        max-width: 324px;
        text-align: justify;
        input {
        width: 15px;
        height: 15px;
        margin-right: 0.5rem;
        }
      }
      button {
        font-family: Homenaje, sans-serif;
        font-size: 24px;
        letter-spacing: 5px;
        background-color: #525C2A;
        padding: 4px;
        border: none;
        width: 140px;
        height: 45px;
        color: white;
        border-radius: 20px;
        position: absolute;
        left: 70%;
        z-index: 1000;
        top: 85%;
      }
    }
  }
  #right {
    background-image: url("../../images/zoo-arcadia-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    width: 55%;
    position: absolute;
    transform: rotateZ(14deg);
    height: 150vh;
    transform-origin: center;
    right: -5%;
    top: -20%;
  }
}

@media screen and (min-width: 1100px) {
  #header__contactPage, #main__contactPage, #body__contactPage footer {
    max-width: 1336px;
    margin: 0 auto;
  }
  #right {
    background-position-y: -250px;
  }
}

@media screen and (min-width: 1170px) {
  #left {
    form {
      padding-left: 150px;
      h2 {
        padding-left: 90px;
      }
    }
  }
}
@media screen and (min-height: 700px) {
  #right {
    background-position-x: center;
  }
}