$bg__header: #7F4C27;
$bg__footer: #7F4C27;
@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../layouts/_bodyFullViewport";
@import "../layouts/_headerFillComputer";

#main {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}