@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";
@import "../atoms/_imgHabitat";
@import "../atoms/_btnHabitat";
@import "../atoms/_title2Habitat";

#main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}