$bg__header: #7F4C27;
$bg__footer: #7F4C27;
@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../layouts/_bodyFullViewport";
@import "../layouts/_headerFillComputer";

#section__Container {
  display: none;
}
#main {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  row-gap: 3rem;
  h2, p, button {
    position: relative;
    z-index: 5;
  }
  h2 {
    width: 100vw;
    text-align: center;
    font-family: $mainTitle;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
    max-width: 450px;
    margin: 0 auto;
  }
  p {
    font-family: $thirdFont;
    font-size: 1rem;
    font-weight: bold;
    width: 90%;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 2px;
    max-width: 450px;
    margin: 0 auto;
  }
  button {
    font-family: $secondFont;
    font-size: 1.4rem;
    border-radius: 15%;
    letter-spacing: 3px;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
  }
  ul {
    position: fixed;
    display: flex;
    transform: translate(-50%, -50%);
    bottom: 2vh;
    left: 50%;
    list-style: none;
    column-gap: 1.5rem;
    z-index: 100;
    li {
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
    li:not([class^="selected__"]) {
      background-color: white;
    }
    li:not([class^="selected__"]):hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
}

// GESTION DYNAMIQUE DES COULEURS
.main__savane::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 76, 39, 0.43); // Couleur et opacité (ici, noir à 50%)
  z-index: 1;
}

#title__savane, #btn__savane, .bg__savane, .selected__savane {
  background: $terre;
}

.main__aquatique::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 194, 255, 0.2); // Couleur et opacité (ici, noir à 50%)
  z-index: 1;
}

#title__aquatique, #btn__aquatique, .bg__aquatique, .selected__aquatique {
  background: #31CEFF;
}

.main__jungle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 61, 1, 0.41); // Couleur et opacité (ici, noir à 50%)
  z-index: 1;
}

#title__jungle, #btn__jungle, .bg__jungle, .selected__jungle {
  background: #0C3F03;
}

@media screen and (min-width: 700px) {
  #main p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1000px) {
  #header {
    position: absolute;
    max-width: none;
    nav {
      border: none;
      background: linear-gradient(
        to bottom, 
      rgba(102, 102, 102, 0.38) 0%,    /* Couleur au début avec une opacité de 38% */
      rgba(102, 102, 102, 0.38) 11%,   /* La même couleur avec la même opacité à 11% */
      rgba(255, 255, 255, 0.38) 66%,   /* Transition vers une autre couleur avec opacité à 66% */
      rgba(255, 255, 255, 0.38) 100%   /* Couleur finale avec opacité de 38% */
      );
    }
  }
  #main >:not(section) {
    display: none;
  }
  #section__Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    section:first-child {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 4rem;
    }
    section:last-child {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.5rem;
      button {
        max-width: fit-content;
        max-height: fit-content;
        border-radius: inherit;
        box-shadow: 5px 6px 12.3px 0px white;
      }
    }
  }
  #main {
    h2 {
      width: 100%;
    }
    h2:hover {
      cursor: pointer;
      scale: 1.1;
    }
    p {
      line-height: 4rem;
    }
  } 
}

@media screen and (min-width: 1200px) {
  #main h2 {
    font-size: 2.2rem;
  }
  #main p {
    font-size: 2rem;
    max-width: 550px;
  }
  #main button {
    font-size: 1.5rem;
  }
}