@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";
@import "../components/homeSections/_firstSection";
@import "../components/homeSections/_secondAndThirdSections";
@import "../components/homeSections/_fourthSection";
@import "../components/homeSections/_fifthSection";
@import "../components/homeSections/_sixthSection";
@import "../components/_footerReviews";

* {
    color: $white;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    header nav ul li a {
        font-weight: bold;
        letter-spacing: 5px;
    }
}