@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";
@import "../components/homeSections/_firstSection";
@import "../components/homeSections/_secondAndThirdSections";
@import "../components/homeSections/_fourthSection";
@import "../components/homeSections/_fifthSection";
@import "../components/homeSections/_sixthSection";
@import "../components/_footerReviews";

* {
    color: $white;
    text-align: center;
}

@media screen and (max-width: 743px) {
    ul.hidden {
        display: none;
    }
    ul.menu:not(.hidden) {
        position: fixed;
        background: linear-gradient(to bottom, #0C3F03, #000000);
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 20;
        @include d-flex-col-center;
        row-gap: 2.5vh;
        img {
            position: absolute;
            top: 16px;
            right: 16px;
            box-shadow: 3px 6px 3.4px 1px #092D00;
        }
        a {
            font-size: 32px;
            font-family: $mainTitle;
            font-weight: normal;
            text-align: center;
            letter-spacing: 1.5px;
        }
    }
}

@media screen and (min-width: 744px) {
    #containerSections {
        @include d-flex-col-center("row");
    }
}

@media screen and (min-width: 1280px) {
    header nav ul li a {
        font-weight: bold;
        letter-spacing: 5px;
    }
}