@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/_mixins";

@import "../layouts/_header2";

#firstSection {
    @include fullScreen;
    img {
        display: none;
    }
    @include bg-img-cover-no-repeat('../../images/zoo-arcadia-background.webp');
    div {
        background-color: $green;
        height: 80px;
        width: 100vw;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        @include d-flex-col-center;
        button {
            background-color: $lightgreen;
            @include d-flex-col-center;
            letter-spacing: 2px;
            font-family: $mainTitle;
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
            padding: 8px 16px;
            border: none;
            a {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 744px) {
    #firstSection {
        img {
            display: block;
            object-fit: fill;
            @include fullContainer;
        }
        div {
            background-color: transparent;
            button {
                background-color: $darkTerre;
                box-shadow: 0px 0px 20px 3px $white;
            }
        }
    } 
}

@media screen and (min-width: 1280px) {
    header nav {
        ul li a {
            font-weight: bold;
            letter-spacing: 5px;
        }
    }
    #firstSection {
        img {
            object-fit: cover;
        }
    }
}