$bg__header: white;
@import "../base/_typography";
@import "../base/_colors";
@import "../base/_reset";
@import "../base/mixins";
@import "../layouts/_bodyFullViewport";
@import "../components/_nav";
@import "../components/_logo";
@import "../components/_formReviews";
@import "../components/_footerReviews";
#body {
    @include bg-img-cover-no-repeat('../../images/zoo-arcadia-loutre.webp');
    background-position: 35% center;

}
#header {
  .img__display {
    border-radius: 10px;
  }
}
#main {
  height: calc(100% - 54px);
  overflow: hidden;
}

@media screen and (min-width: 1000px) {
  #header {
    nav {
      background: none;
    }
  }
}