form button {
    font-family: $secondFont;
    font-size: 24px;
    font-weight: 400;
    color: $white;
    background-color: $terre;
    letter-spacing: 2px;
    padding: 8px 16px;
    border: none;
    border-radius: 117px;
}