#habitat--selected {
    h2 {
        width: 100vw;
        position: initial;
        text-align: center;
        padding: 8px 0px;
        font-size: 24px;
        max-width: 500px;
    }
    h2.savane {
        background-color: $terre;
    }
    h2.marais {
        background-color: $marais;
    }
    h2.jungle {
        background-color: $greenLow;
    }
}