h2 {
    letter-spacing: 1.2px;
    color: $white;
    text-transform: capitalize;
    font-family: $mainTitle;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    left: 5%;
}