{% block footerReviews %}
<footer>
    <ul>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Politiques de données personnelles</a></li>
        <li><a href="#">Contactez-nous</a></li>
    </ul>
</footer>
{% endblock %}