{% block f_socialsNetwork %}
<footer>
    <ul>
        <li>
            <a href="#" target="_blank">
                <img src="{{asset('assets/socials_network/logo_x_arcadia.png')}}" alt="logo x aoo arcadia"/>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <img src="{{asset('assets/socials_network/logo_facebook_arcadia.png')}}" alt="logo Facebook zoo arcadia"/>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <img src="{{asset('assets/socials_network/logo_instagram_arcadia.png')}}" alt="logo instagram zoo arcadia"/>
            </a>
        </li>
    </ul>
</footer>
{% endblock %}