{% block header %}
<header>
  <img src="{{asset('assets/images/background.jpg')}}"/>
  <section>
    <nav>
      <h1 class="main__title">Arcadia</h1>
      <img src="{{asset('assets/images/menu_green.png')}}"/>
    </nav>
    <div>
      <button>
        <a href="#">Decouvrir</a>
      </button>
    </div>
  </section>
</header>
{% endblock %}