{% block header %}
  <header id="homepage">

    {% block menuMobil %}
      {% include "components/menuMobil.html.twig" %}
    {% endblock %}
  
    {# <img src="{{asset('assets/images/background.jpg')}}" class="header__lion" /> #}
    <section>
      {% block nav %}
        {% include "components/nav.html.twig" %}
      {% endblock %}
   
      <div class="nav__div">  
        <button>
          <a href="#secondSection">Decouvrir</a>
        </button>
      </div>
      <button class="btn__computer">
          <a href="#secondSection" id="btn__link--computer">Decouvrir</a>
      </button>
    </section>

  </header>
{% endblock %}