{% block header %}
<header class="{{ class|default('default-class') }}">
    <nav>
        <h1 class="main__title">Arcadia</h1>
        <img src="{{asset('assets/images/'~ iconMenu)}}" class="iconMenu__header"/>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Habitats</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
    </nav>
</header>
{% endblock %}