{% block menuMobil %}
  <section id="menuDisplay" style="display:none">
    <img src="{{ asset('assets/images/cross-zoo-arcadia-valentin-burillier.webp') }}"/>
    <nav id="navMobil">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/habitats">Habitats</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Connexion</a></li>
      </ul>
    </nav>
  </section>
{% endblock %}