@charset "UTF-8";
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body, main {
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form[name=horaires] {
  margin-top: 1.5rem;
  row-gap: 4vh;
}
form[name=horaires] label {
  font-size: 1.4rem;
}
form[name=horaires] input[type=time], form[name=horaires] select, form[name=horaires] option {
  background: none;
  border: none;
}
form[name=horaires] option {
  background: #0C4A63;
}
form[name=horaires] div:nth-child(n+2):nth-child(-n+4) label {
  margin-right: 1rem;
}

form[name=services] {
  margin-top: 1.5rem;
}
form[name=services] .btn-services {
  width: max-content;
  align-self: center;
  margin-top: 0.5rem;
}
form[name=services] h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
form[name=services] input:not(.btn-services) {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3215686275);
}
form[name=services] > div {
  display: flex;
  justify-content: space-between;
}
form[name=services] > div label {
  margin-right: 1rem;
}

.secondItem > ul {
  margin-top: 1rem;
}

* {
  text-align: center;
  color: #FFFFFF;
}

form {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: url(../../images/zoo-arcadia-dauphin-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 35, 46, 0.66);
  z-index: 5;
}

header {
  position: fixed;
  z-index: 15;
  width: 100vw;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

h1, h2 {
  font-family: IBM Plex Serif, serif;
}

main, ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  z-index: 10;
  height: 100vh;
  width: 100vw;
}
main ul {
  row-gap: 2vh;
}
main ul h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

form {
  flex-direction: column;
  row-gap: 2vh;
}
form input[type=email] {
  padding: 0.25rem 0rem;
  color: #1A7996;
}
form input[type=email]::placeholder {
  color: #1A7996;
}
form input[type=radio]::selection {
  font-style: italic;
}

.firstItem {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

@media screen and (min-width: 500px) {
  .firstItem {
    scale: 1.2;
  }
}
.containerForm {
  display: flex;
  margin-bottom: 1.5rem;
}
.containerForm .radio-wrapper {
  text-align: left;
}
.containerForm > div:first-child {
  margin-right: 0.25rem;
}
.containerForm > div:last-child {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.btn-submit {
  font-family: Homenaje, sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 0.5rem 1.2rem;
  letter-spacing: 2px;
  background: #1A7996;
  box-shadow: 5px 6px 12.3px 0px white;
  border: none;
  border-left: 5px solid white;
}

@media screen and (min-width: 600px) {
  ul {
    scale: 1.2;
  }
}
/* Exemple d'un style personnalisé pour les alertes */
@keyframes fadeOut {
  100% {
    display: none; /* L'alerte devient invisible à la fin */
  }
}
.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  animation: fadeOut 2s forwards;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}/*# sourceMappingURL=admin.css.map */