*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

body, main {
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  nav {
    padding-left: 32px;
    padding-right: 32px;
  }
  nav .menu img {
    display: none;
  }
}
h1 {
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: uppercase;
}

@media screen and (min-width: 744px) {
  h1 {
    font-size: 36px;
  }
}
.iconMenu__header {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 744px) {
  .iconMenu__header {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .iconMenu__header {
    display: none;
  }
}
header nav ul {
  display: none;
}

@media screen and (min-width: 1280px) {
  header nav ul {
    display: flex;
    align-items: center;
    column-gap: 16px;
    letter-spacing: 2px;
  }
  header nav ul li a {
    color: #FFFFFF;
    font-family: IBM Plex Serif, serif;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000000;
  }
}
@media screen and (max-width: 743px) {
  ul.hidden {
    display: none;
  }
  ul.menu:not(.hidden) {
    position: fixed;
    background: linear-gradient(to bottom, #0C3F03, #000000);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5vh;
  }
  ul.menu:not(.hidden) img {
    position: absolute;
    top: 16px;
    right: 16px;
    box-shadow: 3px 6px 3.4px 1px #092D00;
  }
  ul.menu:not(.hidden) a {
    font-size: 32px;
    color: #FFFFFF;
    font-family: IBM Plex Serif, serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1.5px;
  }
}
header {
  width: 100vw;
  height: 45px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

@media screen and (min-width: 744px) {
  header {
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  header.fill {
    position: relative;
    border-bottom: 4px solid #FFFFFF;
    background: #243123;
  }
  header.bg--green {
    background-color: #243123;
  }
  header.bg--brown {
    background-color: #7F4C27;
  }
}
section {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

section[data-id="0"] {
  display: flex;
  row-gap: 16px;
}

.animalsSection h2 {
  padding: 8px 24px;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  background-color: rgba(217, 217, 217, 0.23);
  border: 1px solid #FFFFFF;
}
.animalsSection h3 {
  color: #FFFFFF;
  font-family: Tahoma, sans-serif;
  text-transform: capitalize;
  letter-spacing: 3px;
}

main ul:not(div ul) {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;
  bottom: 16px;
}
main ul:not(div ul) li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 3px 4px 5.5px -3px black;
}

.detailsAnimal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  row-gap: 32px;
}
.detailsAnimal img {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 16px;
  top: 16px;
}
.detailsAnimal ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
.detailsAnimal ul p {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

@media screen and (min-width: 744px) {
  main {
    display: flex;
  }
  main ul:not(div ul) {
    display: none;
  }
  section[data-id="1"], section[data-id="2"] {
    display: flex;
  }
  section {
    width: 50vw;
  }
  section[data-id="1"] ul:not(div ul) {
    display: none;
  }
}
@media screen and (min-width: 1244px) {
  section[data-id="2"] {
    display: flex;
  }
  section {
    width: 33.3333333333vw;
  }
  section[data-id="2"] ul:not(div ul) {
    display: none;
  }
}