*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

body, main {
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  nav {
    padding-left: 32px;
    padding-right: 32px;
  }
  nav .menu img {
    display: none;
  }
}
h1 {
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: uppercase;
}

@media screen and (min-width: 744px) {
  h1 {
    font-size: 36px;
  }
}
.iconMenu__header {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 744px) {
  .iconMenu__header {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .iconMenu__header {
    display: none;
  }
}
header nav ul {
  display: none;
}

@media screen and (min-width: 1280px) {
  header nav ul {
    display: flex;
    align-items: center;
    column-gap: 16px;
    letter-spacing: 2px;
  }
  header nav ul li a {
    color: #FFFFFF;
    font-family: IBM Plex Serif, serif;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000000;
  }
}
@media screen and (max-width: 743px) {
  ul.hidden {
    display: none;
  }
  ul.menu:not(.hidden) {
    position: fixed;
    background: linear-gradient(to bottom, #0C3F03, #000000);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5vh;
  }
  ul.menu:not(.hidden) img {
    position: absolute;
    top: 16px;
    right: 16px;
    box-shadow: 3px 6px 3.4px 1px #092D00;
  }
  ul.menu:not(.hidden) a {
    font-size: 32px;
    color: #FFFFFF;
    font-family: IBM Plex Serif, serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1.5px;
  }
}
header {
  width: 100vw;
  height: 45px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

@media screen and (min-width: 744px) {
  header {
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  header.fill {
    position: relative;
    border-bottom: 4px solid #FFFFFF;
    background: #243123;
  }
  header.bg--green {
    background-color: #243123;
  }
  header.bg--brown {
    background-color: #7F4C27;
  }
}
h2 {
  text-align: center;
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 28px;
}

form button {
  font-family: Homenaje, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7F4C27;
  letter-spacing: 2px;
  padding: 8px 16px;
  border: none;
  border-radius: 117px;
}

span[id$=Error] {
  display: none;
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  padding: 2px;
  background: #FFFFFF;
}

form {
  height: 100%;
  width: 85%;
  row-gap: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .container-data {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 2vh;
}
form .container-data label, form .container-data input, form .container-data textarea {
  width: 100%;
  letter-spacing: 1px;
}
form .container-data label {
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-size: 20px;
  font-weight: bold;
}
form .container-data input, form .container-data textarea {
  background: #D9D9D9;
  border-radius: 5px;
  height: 42px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding-left: 5px;
}

@media screen and (min-width: 1280px) {
  form {
    scale: 1.1;
  }
  form .container-data {
    max-width: 550px;
  }
  form .container-data label {
    color: #7F4C27;
  }
}
main {
  height: calc(100vh - 28px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
}
main.bg-contact {
  background: url(../../images/zoo-arcadia-bg-contact-full.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main.bg-login {
  background: url(../../images/zoo-arcadia-elephant.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 744px) {
  main {
    height: calc(100vh - 40px);
  }
}
@media screen and (min-width: 1280px) {
  main {
    height: calc(100vh - 100px);
  }
  main.bg-contact {
    background: url(../../images/zoo-arcadia-bg-contact-mi.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main.bg-login {
    background: url(../../images/zoo-arcadia-elephant-bgWhite.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
footer {
  overflow: hidden;
  width: 100vw;
  height: 28px;
  background-color: #7F4C27;
  border-top: 4px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
footer ul li, footer ul a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 744px) {
  footer {
    height: 40px;
  }
  footer img {
    width: 32px;
    height: 32px;
  }
}
#emailError, #passwordError, #errorMsg {
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  padding: 2px;
  background: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  header {
    background: #7F4C27;
  }
  h2 {
    color: #7F4C27;
  }
}