@charset "UTF-8";
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body, main {
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#body {
  height: 100vh;
  width: 100vw;
  background: url(../../images/zoo-arcadia-elephant.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 744px) {
  #body {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  html {
    background-color: rgba(59, 29, 5, 0.839);
  }
  #body {
    max-width: 1280px;
    margin: 0 auto;
  }
}
#main {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 90%;
  background: rgba(0, 128, 0, 0.2);
}
#main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
#main ul li {
  background-color: #D9D9D9;
  width: 100%;
}
#main ul li h2 {
  color: #7F4C27;
  font-family: IBM Plex Serif, serif;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
}
#main ul li h2::before {
  content: "▶";
  margin-left: 16px;
  margin-right: 16px;
}

#main .hidden {
  display: none;
}
#main .taskSelected, #main .taskSelectedContainer {
  height: 100%;
}
#main .taskSelected {
  overflow-y: scroll;
}
#main .taskSelected h2::before {
  content: "▼";
}

@media screen and (min-width: 744px) {
  #main {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    height: 100%;
    width: 75%;
    overflow-y: scroll;
  }
  #main > ul {
    height: 100%;
    justify-content: start;
  }
  #main ul li h2 {
    display: none;
  }
  #main .hidden {
    display: block;
  }
}
#header {
  font-family: IBM Plex Serif, serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
#header h1 {
  text-transform: uppercase;
  font-size: 32px;
}
#header nav {
  display: none;
}

@media screen and (min-width: 744px) {
  #header {
    height: 100%;
    width: 30%;
    position: relative;
  }
  #header h1 {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  #header nav {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }
  #header nav ul li h2 {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}
#reviewsToCheck .reviews__list {
  padding: 16px;
}
#reviewsToCheck .reviews__list .user__data {
  color: #7F4C27;
  row-gap: 12px;
}
#reviewsToCheck .reviews__list .user__data li:first-child, #reviewsToCheck .reviews__list .user__data li:nth-child(2) {
  display: contents;
}
#reviewsToCheck .reviews__list .user__data li {
  font-family: IBM Plex Serif, serif;
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
}
#reviewsToCheck .reviews__list .user__data .stars__score, #reviewsToCheck .reviews__list .user__data .icon__statut {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#reviewsToCheck .reviews__list .user__data .stars__score img, #reviewsToCheck .reviews__list .user__data .icon__statut img {
  width: 30px;
  height: 30px;
}
#reviewsToCheck .reviews__list .user__data .icon__statut img {
  width: 25px;
  height: 25px;
}
#reviewsToCheck .reviews__list .user__data .comment {
  text-align: center;
  font-size: 16px;
  color: #7F4C27;
}
#reviewsToCheck .reviews__list .valid_review, #reviewsToCheck .reviews__list .delete_review {
  border: none;
  background: none;
}
#reviewsToCheck hr {
  background: #7F4C27;
  height: 0.3rem;
  width: 90%;
}

@media screen and (min-width: 744px) {
  #reviewsToCheck section {
    display: initial;
  }
}
#services .form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
#services .form input {
  font-family: IBM Plex Serif, serif;
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
  color: #7F4C27;
  text-align: center;
  padding: 8px 16px;
}
#services .form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#services .form button {
  padding: 4px 8px;
  border: none;
  letter-spacing: 1.2px;
  color: white;
  background-color: #7F4C27;
}
#services img {
  width: 30px;
  height: 30px;
}
#services hr {
  background: #7F4C27;
  height: 0.3rem;
  width: 90%;
}

@media screen and (min-width: 744px) {
  #services {
    display: none;
  }
}
#mealsAnimals section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}
#mealsAnimals section form button {
  padding: 4px 8px;
  border: none;
  letter-spacing: 1.2px;
  color: white;
  background-color: #7F4C27;
}
#mealsAnimals section form div label {
  color: #7F4C27;
  font-family: IBM Plex Serif, serif;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 8px;
}
#mealsAnimals section form input[name="meal[quantity]"] {
  max-width: 50px;
}

@media screen and (min-width: 744px) {
  #mealsAnimals {
    display: none;
  }
}
.reviews__list .user__data {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
.reviews__list #stars__score img, .reviews__list #icon__statut img {
  position: inherit;
}
.reviews__list #icon__statut, .reviews__list #stars__score {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}