*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

body, main {
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  nav {
    padding-left: 32px;
    padding-right: 32px;
  }
  nav .menu img {
    display: none;
  }
}
h1 {
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: uppercase;
}

@media screen and (min-width: 744px) {
  h1 {
    font-size: 36px;
  }
}
.iconMenu__header {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 744px) {
  .iconMenu__header {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .iconMenu__header {
    display: none;
  }
}
header nav ul {
  display: none;
}

@media screen and (min-width: 1280px) {
  header nav ul {
    display: flex;
    align-items: center;
    column-gap: 16px;
    letter-spacing: 2px;
  }
  header nav ul li a {
    color: #FFFFFF;
    font-family: IBM Plex Serif, serif;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000000;
  }
}
@media screen and (max-width: 743px) {
  ul.hidden {
    display: none;
  }
  ul.menu:not(.hidden) {
    position: fixed;
    background: linear-gradient(to bottom, #0C3F03, #000000);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5vh;
  }
  ul.menu:not(.hidden) img {
    position: absolute;
    top: 16px;
    right: 16px;
    box-shadow: 3px 6px 3.4px 1px #092D00;
  }
  ul.menu:not(.hidden) a {
    font-size: 32px;
    color: #FFFFFF;
    font-family: IBM Plex Serif, serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1.5px;
  }
}
header {
  width: 100vw;
  height: 45px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

@media screen and (min-width: 744px) {
  header {
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  header.fill {
    position: relative;
    border-bottom: 4px solid #FFFFFF;
    background: #243123;
  }
  header.bg--green {
    background-color: #243123;
  }
  header.bg--brown {
    background-color: #7F4C27;
  }
}
button {
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
}
button > * {
  font-size: 20px;
}

#firstSection {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(../../images/zoo-arcadia-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#firstSection img {
  display: none;
}
#firstSection div {
  background-color: #092D00;
  height: 80px;
  width: 100vw;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#firstSection div button {
  background-color: #0C3F03;
  font-family: IBM Plex Serif, serif;
}

@media screen and (min-width: 744px) {
  #firstSection img {
    display: block;
    object-fit: fill;
    height: 100%;
    width: 100%;
  }
  #firstSection div {
    background-color: transparent;
  }
  #firstSection div button {
    background-color: #4D1C00;
    box-shadow: 0px 0px 20px 3px #FFFFFF;
  }
}
@media screen and (min-width: 1280px) {
  #firstSection img {
    object-fit: cover;
  }
}
h2 {
  text-align: center;
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 28px;
}

#secondSection, #thirdSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  background: #7F4C27;
}
#secondSection h2, #secondSection img, #secondSection p, #thirdSection h2, #thirdSection img, #thirdSection p {
  margin: 0 auto;
  font-weight: normal;
  letter-spacing: 4px;
}
#secondSection img, #thirdSection img {
  width: 75%;
  max-width: 350px;
}
#secondSection p, #thirdSection p {
  font-family: Tahoma, sans-serif;
  line-height: 2.5rem;
  font-size: 2.5vh;
  max-width: 400px;
}

#thirdSection {
  background: #092D00;
}

@media screen and (min-width: 744px) {
  #secondSection {
    border-right: 2px solid #ffffff;
  }
  #secondSection, #thirdSection {
    height: 100vh;
    width: 50vw;
  }
  #secondSection img, #thirdSection img {
    max-width: 450px;
    max-height: 280px;
  }
}
h2 {
  text-align: center;
  color: #FFFFFF;
  font-family: IBM Plex Serif, serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 28px;
}

#fourthSection {
  height: 100vh;
  width: 100vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7vh;
  position: relative;
  background-color: #000000;
}
#fourthSection img {
  width: 90%;
  max-width: 350px;
}
#fourthSection button {
  background-color: #525C2A;
  width: 75%;
  padding: 8px 16px;
  border-radius: 20%;
  max-width: 300px;
  line-height: 125%;
}
#fourthSection button a {
  font-size: 16px;
  font-weight: normal;
}
#fourthSection h2 {
  background-color: #0C3F03;
  position: absolute;
  width: 100%;
  font-size: 24px;
  padding: 4px 0px;
}
#fourthSection h2:first-child {
  top: 5%;
}
#fourthSection h2:last-child {
  bottom: 5%;
}

@media screen and (min-width: 744px) {
  #fourthSection {
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: row-reverse;
    column-gap: 5vw;
  }
  #fourthSection h2:first-child {
    top: 10%;
  }
  #fourthSection h2:last-child {
    bottom: 10%;
  }
}
@media screen and (min-width: 1280px) {
  #fourthSection {
    column-gap: 128px;
  }
  #fourthSection img, #fourthSection button {
    scale: 1.2;
  }
  #fourthSection button {
    line-height: 125%;
  }
}
#fifthSection {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(61deg, #006333 50%, #054000 50%);
  overflow-y: scroll;
  position: relative;
  max-width: 1280px;
  margin: auto;
  text-transform: capitalize;
}
#fifthSection h2 {
  display: none;
}
#fifthSection .container div {
  width: 80%;
  height: 210px;
  margin: 0 auto;
  border-radius: 20%;
  background: white;
  overflow-x: hidden;
  position: relative;
  max-width: 340px;
}
#fifthSection .container div img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fifthSection .container div h3 {
  background: rgba(6, 40, 0, 0.8);
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  letter-spacing: 1px;
}
#fifthSection .container div p {
  color: #000000;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 1.2rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fifthSection .container div:first-child {
  margin-top: 3.2rem;
}
#fifthSection .container div {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 744px) {
  #fifthSection {
    height: auto;
  }
  #fifthSection .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
  }
  #fifthSection .container div {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}
#sixthSection {
  height: 100vh;
  width: 100vw;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
#sixthSection .test {
  height: 90%;
  width: 100%;
}
#sixthSection .reviewsContainer {
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  row-gap: 2vh;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}
#sixthSection .reviewsContainer .reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
#sixthSection .reviewsContainer .reviewContainer h3 {
  font-size: 20px;
  font-weight: normal;
  max-width: 95%;
}
#sixthSection .reviewsContainer .reviewContainer h4 {
  font-size: 18px;
}
#sixthSection .reviewsContainer .reviewContainer .starsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#sixthSection .reviewsContainer .reviewContainer .starsContainer span {
  font-size: 24px;
}
#sixthSection .reviewContainer > * {
  color: #000000;
}
#sixthSection h2 {
  background-color: #0C3F03;
  width: 100vw;
  font-size: 24px;
  padding: 4px 0px;
}
#sixthSection h2:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;
  font-size: 20px;
}
#sixthSection button {
  background-color: #F58500;
  padding: 8px;
}
#sixthSection button a {
  font-size: 14px;
}

@media screen and (min-width: 744px) {
  .reviewsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(10%);
  }
}
footer {
  background-color: #363636;
  width: 100vw;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
footer ul li {
  font-family: Tahoma, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-align: center;
}
footer ul li a {
  font-size: 16px;
}

@media screen and (min-width: 744px) {
  footer {
    height: 66px;
  }
  footer ul {
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 0px;
  }
}
@media screen and (min-width: 1280px) {
  footer ul li a {
    font-size: 18px;
  }
}
* {
  color: #FFFFFF;
  text-align: center;
}

@media screen and (min-width: 744px) {
  #containerSections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  header nav ul li a {
    font-weight: bold;
    letter-spacing: 5px;
  }
}