@charset "UTF-8";
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body, main {
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#body {
  height: 100vh;
  width: 100vw;
  background: url(../../images/zoo-arcadia-elephant.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 744px) {
  #body {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  html {
    background-color: rgba(59, 29, 5, 0.839);
  }
  #body {
    max-width: 1280px;
    margin: 0 auto;
  }
}
#main {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 90%;
  background: rgba(0, 128, 0, 0.2);
}
#main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
#main ul li {
  background-color: #D9D9D9;
  width: 100%;
}
#main ul li h2, #main ul li h3 {
  color: #7F4C27;
  font-family: IBM Plex Serif, serif;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
}
#main ul li h2.listClose::before, #main ul li h2.animalClose::before, #main ul li h3.listClose::before, #main ul li h3.animalClose::before {
  content: "▶";
  margin-left: 16px;
  margin-right: 16px;
}
#main ul li h2::before, #main ul li h3::before {
  content: "▼";
  margin-left: 16px;
  margin-right: 16px;
}

#main .hidden {
  display: none;
}
#main .taskSelected, #main .taskSelectedContainer {
  height: 100%;
}
#main .taskSelected {
  overflow-y: scroll;
}
#main .taskSelected h2::before {
  content: "▼";
}

@media screen and (min-width: 744px) {
  #main {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    height: 100%;
    width: 75%;
    overflow-y: scroll;
  }
  #main > ul {
    height: 100%;
    justify-content: start;
  }
  #main ul li h2 {
    display: none;
  }
  #main .hidden {
    display: block;
  }
}
#header {
  font-family: IBM Plex Serif, serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
#header h1 {
  text-transform: uppercase;
  font-size: 32px;
}
#header nav {
  display: none;
}

@media screen and (min-width: 744px) {
  #header {
    height: 100%;
    width: 30%;
    position: relative;
  }
  #header h1 {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  #header nav {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }
  #header nav ul li h2 {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}
#formCommentHabitat form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
}
#formCommentHabitat form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  row-gap: 8px;
}
#formCommentHabitat form label[for=comment_habitat] {
  display: none;
}
#formCommentHabitat form label[for=comment_comment] {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: IBM Plex Serif, serif;
}
#formCommentHabitat form textarea {
  width: 100%;
  padding: 16px;
}
#formCommentHabitat form button {
  padding: 4px 8px;
  border: none;
  letter-spacing: 1.2px;
  color: white;
  background-color: #7F4C27;
}

#main ul li h3 {
  margin-left: 16px;
  font-size: 16px;
  color: #000000;
}

.mealAnimal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}
.mealAnimal h4 {
  font-size: 20px;
}
.mealAnimal div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}
.mealAnimal div p {
  color: #7F4C27;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 1.1px;
  font-weight: bold;
}

@media screen and (max-width: 743px) {
  #main > ul {
    height: 100%;
    justify-content: initial;
    overflow: auto;
  }
  #main > ul::-webkit-scrollbar {
    display: none;
  }
}
.taskClose, .habitatClose {
  display: none;
}

@media screen and (min-width: 744px) {
  #main {
    background: #D9D9D9;
  }
  #main ul {
    row-gap: 0;
  }
}