{% set iconMenu = 'zoo-arcadia-green_menu' %}
{% set pageName = 'EmployePage' %}

{% extends "base.html.twig" %}
{% block title %}Arcadia | Interface Employe{% endblock %}
{% block style %} 
  <link rel="stylesheet" href="{{ asset('assets/scss/css/employe.css') }}?{{ "now"|date("U") }}" type="text/css">
{% endblock %}

{# BODY #}
{% block body %}

    <header id="header">
        <h1>Arcadia</h1>
        <nav>
            <ul>
                <li><h2>Avis à vérifier</h2></li>
                <li><h2>Services</h2></li>
                <li><h2>Alimentation</h2></li>
            </ul>
        </nav>
    </header>


    <main id="main">
        <ul>
            <li id="reviewsToCheck" class="tasks">
                {% block reviews %}
                    {% include "user/employe/reviews.html.twig" %}
                {% endblock %}
            </li>
            <li id="services" class="tasks">
                {% block services %}
                    {% include "user/employe/services.html.twig" %}
                {% endblock %}
            </li>
            <li id="mealsAnimals" class="tasks">
                {% block alimentation %}
                    {% include "user/employe/alimentation.html.twig"%}
                {% endblock %}
            </li>
        </ul>
    </main>
    <script src="{{ asset('assets/scripts/employe.js' )}}?{{ "now"|date("U") }}"></script>
{% endblock %}